# User-specific stuff
.idea/

*.iml
*.ipr
*.iws

# IntelliJ
out/
*.lock

#Gradle
build/
.gradle/


# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.mixins
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml
/run/plugins/.paper-remapped/remap-classpath/5A0BA0118CA600F2E7B318649AA228D2F438B964991970E0CCA6CB265F1D1C8D.jar
/run/plugins/.paper-remapped/mappings/reversed/5A0BA0118CA600F2E7B318649AA228D2F438B964991970E0CCA6CB265F1D1C8D.tiny
/run/world/playerdata/36c1c19e-8369-4725-8f5c-bb93aa72773c.dat
/run/world/playerdata/36c1c19e-8369-4725-8f5c-bb93aa72773c.dat_old
/run/world/advancements/36c1c19e-8369-4725-8f5c-bb93aa72773c.json
/run/world/stats/36c1c19e-8369-4725-8f5c-bb93aa72773c.json
/run/logs/2025-01-06-1.log.gz
/run/world/playerdata/846953e0-b790-486e-9f8a-75e6d75c2159.dat
/run/world/playerdata/846953e0-b790-486e-9f8a-75e6d75c2159.dat_old
/run/world/advancements/846953e0-b790-486e-9f8a-75e6d75c2159.json
/run/world/stats/846953e0-b790-486e-9f8a-75e6d75c2159.json
/run/plugins/spark/tmp-client/about.txt
/run/libraries/net/minidev/accessors-smart/2.5.1/accessors-smart-2.5.1.jar
/run/libraries/net/kyori/adventure-api/4.18.0/adventure-api-4.18.0.jar
/run/libraries/net/kyori/adventure-key/4.18.0/adventure-key-4.18.0.jar
/run/libraries/net/kyori/adventure-text-logger-slf4j/4.18.0/adventure-text-logger-slf4j-4.18.0.jar
/run/libraries/net/kyori/adventure-text-minimessage/4.18.0/adventure-text-minimessage-4.18.0.jar
/run/libraries/net/kyori/adventure-text-serializer-ansi/4.18.0/adventure-text-serializer-ansi-4.18.0.jar
/run/libraries/net/kyori/adventure-text-serializer-gson/4.18.0/adventure-text-serializer-gson-4.18.0.jar
/run/libraries/net/kyori/adventure-text-serializer-json/4.18.0/adventure-text-serializer-json-4.18.0.jar
/run/libraries/net/kyori/adventure-text-serializer-legacy/4.18.0/adventure-text-serializer-legacy-4.18.0.jar
/run/libraries/net/kyori/adventure-text-serializer-plain/4.18.0/adventure-text-serializer-plain-4.18.0.jar
/run/libraries/net/kyori/ansi/1.1.1/ansi-1.1.1.jar
/run/libraries/org/ow2/asm/asm/9.7.1/asm-9.7.1.jar
/run/libraries/org/ow2/asm/asm-commons/9.7.1/asm-commons-9.7.1.jar
/run/libraries/org/ow2/asm/asm-tree/9.7.1/asm-tree-9.7.1.jar
/run/libraries/io/papermc/asm-utils/0.0.3/asm-utils-0.0.3.jar
/run/libraries/com/mojang/authlib/6.0.57/authlib-6.0.57.jar
/run/libraries/net/neoforged/AutoRenamingTool/2.0.3/AutoRenamingTool-2.0.3.jar
/run/banned-ips.json
/run/banned-players.json
/run/libraries/com/mojang/brigadier/1.3.10/brigadier-1.3.10.jar
/run/bukkit.yml
/run/libraries/net/md-5/bungeecord-chat/1.20-R0.2-deprecated+build.19/bungeecord-chat-1.20-R0.2-deprecated+build.19.jar
/run/libraries/org/checkerframework/checker-qual/3.43.0/checker-qual-3.43.0.jar
/run/libraries/net/neoforged/installertools/cli-utils/2.1.4/cli-utils-2.1.4.jar
/run/commands.yml
/run/libraries/commons-codec/commons-codec/1.16.0/commons-codec-1.16.0.jar
/run/libraries/commons-io/commons-io/2.17.0/commons-io-2.17.0.jar
/run/libraries/org/apache/commons/commons-lang3/3.17.0/commons-lang3-3.17.0.jar
/run/libraries/commons-lang/commons-lang/2.6/commons-lang-2.6.jar
/run/libraries/ca/spottedleaf/concurrentutil/0.0.2/concurrentutil-0.0.2.jar
/run/plugins/spark/config.json
/run/plugins/bStats/config.yml
/run/plugins/ChatCo/config.yml
/run/libraries/org/spongepowered/configurate-core/4.2.0-SNAPSHOT/configurate-core-4.2.0-SNAPSHOT.jar
/run/libraries/org/spongepowered/configurate-yaml/4.2.0-SNAPSHOT/configurate-yaml-4.2.0-SNAPSHOT.jar
/run/libraries/com/nimbusds/content-type/2.3/content-type-2.3.jar
/run/libraries/com/mojang/datafixerupper/8.0.16/datafixerupper-8.0.16.jar
/run/libraries/com/lmax/disruptor/3.4.4/disruptor-3.4.4.jar
/run/libraries/com/google/errorprone/error_prone_annotations/2.28.0/error_prone_annotations-2.28.0.jar
/run/eula.txt
/run/libraries/net/kyori/examination-api/1.3.0/examination-api-1.3.0.jar
/run/libraries/net/kyori/examination-string/1.3.0/examination-string-1.3.0.jar
/run/libraries/com/google/guava/failureaccess/1.0.2/failureaccess-1.0.2.jar
/run/libraries/it/unimi/dsi/fastutil/8.5.15/fastutil-8.5.15.jar
/run/libraries/io/leangen/geantyref/geantyref/1.3.16/geantyref-1.3.16.jar
/run/libraries/com/google/code/gson/gson/2.11.0/gson-2.11.0.jar
/run/libraries/net/neoforged/javadoctor/gson-io/2.0.17/gson-io-2.0.17.jar
/run/libraries/com/google/guava/guava/33.3.1-jre/guava-33.3.1-jre.jar
/run/help.yml
/run/libraries/org/apache/httpcomponents/httpclient/4.5.14/httpclient-4.5.14.jar
/run/libraries/org/apache/httpcomponents/httpcore/4.4.16/httpcore-4.4.16.jar
/run/plugins/ChatCo/ignoreLists.yml
/run/plugins/.paper-remapped/extra-plugins/index.json
/run/plugins/.paper-remapped/libraries/index.json
/run/plugins/.paper-remapped/unknown-origin/index.json
/run/plugins/.paper-remapped/index.json
/run/libraries/com/google/j2objc/j2objc-annotations/3.0.0/j2objc-annotations-3.0.0.jar
/run/libraries/com/fasterxml/jackson/core/jackson-annotations/2.13.4/jackson-annotations-2.13.4.jar
/run/libraries/com/fasterxml/jackson/core/jackson-core/2.13.4/jackson-core-2.13.4.jar
/run/libraries/com/fasterxml/jackson/core/jackson-databind/2.13.4.2/jackson-databind-2.13.4.2.jar
/run/libraries/javax/inject/javax.inject/1/javax.inject-1.jar
/run/libraries/com/github/stephenc/jcip/jcip-annotations/1.0-1/jcip-annotations-1.0-1.jar
/run/libraries/org/slf4j/jcl-over-slf4j/1.7.36/jcl-over-slf4j-1.7.36.jar
/run/libraries/org/jline/jline-native/3.27.1/jline-native-3.27.1.jar
/run/libraries/org/jline/jline-reader/3.20.0/jline-reader-3.20.0.jar
/run/libraries/org/jline/jline-terminal/3.27.1/jline-terminal-3.27.1.jar
/run/libraries/org/jline/jline-terminal-ffm/3.27.1/jline-terminal-ffm-3.27.1.jar
/run/libraries/org/jline/jline-terminal-jni/3.27.1/jline-terminal-jni-3.27.1.jar
/run/libraries/net/java/dev/jna/jna/5.15.0/jna-5.15.0.jar
/run/libraries/net/java/dev/jna/jna-platform/5.15.0/jna-platform-5.15.0.jar
/run/libraries/org/joml/joml/1.10.8/joml-1.10.8.jar
/run/libraries/net/sf/jopt-simple/jopt-simple/6.0-alpha-3/jopt-simple-6.0-alpha-3.jar
/run/libraries/com/googlecode/json-simple/json-simple/1.1.1/json-simple-1.1.1.jar
/run/libraries/net/minidev/json-smart/2.5.1/json-smart-2.5.1.jar
/run/libraries/org/jspecify/jspecify/1.0.0/jspecify-1.0.0.jar
/run/libraries/com/google/code/findbugs/jsr305/3.0.2/jsr305-3.0.2.jar
/run/libraries/com/mojang/jtracy/1.0.29/jtracy-1.0.29.jar
/run/libraries/com/nimbusds/lang-tag/1.7/lang-tag-1.7.jar
/run/world/level.dat
/run/world_nether/level.dat
/run/world_the_end/level.dat
/run/world/level.dat_old
/run/world_nether/level.dat_old
/run/world_the_end/level.dat_old
/run/libraries/com/google/guava/listenablefuture/9999.0-empty-to-avoid-conflict-with-guava/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
/run/libraries/org/apache/logging/log4j/log4j-api/2.24.1/log4j-api-2.24.1.jar
/run/libraries/org/apache/logging/log4j/log4j-core/2.24.1/log4j-core-2.24.1.jar
/run/libraries/org/apache/logging/log4j/log4j-iostreams/2.24.1/log4j-iostreams-2.24.1.jar
/run/libraries/org/apache/logging/log4j/log4j-slf4j2-impl/2.24.1/log4j-slf4j2-impl-2.24.1.jar
/run/libraries/com/mojang/logging/1.5.10/logging-1.5.10.jar
/run/libraries/org/lz4/lz4-java/1.8.0/lz4-java-1.8.0.jar
/run/libraries/org/apache/maven/maven-artifact/3.9.6/maven-artifact-3.9.6.jar
/run/libraries/org/apache/maven/maven-builder-support/3.9.6/maven-builder-support-3.9.6.jar
/run/libraries/org/apache/maven/maven-model/3.9.6/maven-model-3.9.6.jar
/run/libraries/org/apache/maven/maven-model-builder/3.9.6/maven-model-builder-3.9.6.jar
/run/libraries/org/apache/maven/maven-repository-metadata/3.9.6/maven-repository-metadata-3.9.6.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-api/1.9.18/maven-resolver-api-1.9.18.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-connector-basic/1.9.18/maven-resolver-connector-basic-1.9.18.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-impl/1.9.18/maven-resolver-impl-1.9.18.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-named-locks/1.9.18/maven-resolver-named-locks-1.9.18.jar
/run/libraries/org/apache/maven/maven-resolver-provider/3.9.6/maven-resolver-provider-3.9.6.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-spi/1.9.18/maven-resolver-spi-1.9.18.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-transport-http/1.9.18/maven-resolver-transport-http-1.9.18.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-util/1.9.18/maven-resolver-util-1.9.18.jar
/run/cache/mojang_1.21.4.jar
/run/libraries/com/microsoft/azure/msal4j/1.17.2/msal4j-1.17.2.jar
/run/libraries/com/mysql/mysql-connector-j/9.1.0/mysql-connector-j-9.1.0.jar
/run/libraries/io/netty/netty-buffer/4.1.115.Final/netty-buffer-4.1.115.Final.jar
/run/libraries/io/netty/netty-codec/4.1.115.Final/netty-codec-4.1.115.Final.jar
/run/libraries/io/netty/netty-codec-haproxy/4.1.97.Final/netty-codec-haproxy-4.1.97.Final.jar
/run/libraries/io/netty/netty-common/4.1.115.Final/netty-common-4.1.115.Final.jar
/run/libraries/io/netty/netty-handler/4.1.115.Final/netty-handler-4.1.115.Final.jar
/run/libraries/io/netty/netty-resolver/4.1.115.Final/netty-resolver-4.1.115.Final.jar
/run/libraries/io/netty/netty-transport/4.1.115.Final/netty-transport-4.1.115.Final.jar
/run/libraries/io/netty/netty-transport-classes-epoll/4.1.115.Final/netty-transport-classes-epoll-4.1.115.Final.jar
/run/libraries/io/netty/netty-transport-native-epoll/4.1.115.Final/netty-transport-native-epoll-4.1.115.Final-linux-aarch_64.jar
/run/libraries/io/netty/netty-transport-native-epoll/4.1.115.Final/netty-transport-native-epoll-4.1.115.Final-linux-x86_64.jar
/run/libraries/io/netty/netty-transport-native-unix-common/4.1.115.Final/netty-transport-native-unix-common-4.1.115.Final.jar
/run/libraries/com/nimbusds/nimbus-jose-jwt/9.40/nimbus-jose-jwt-9.40.jar
/run/libraries/com/nimbusds/oauth2-oidc-sdk/11.18/oauth2-oidc-sdk-11.18.jar
/run/ops.json
/run/libraries/net/kyori/option/1.0.0/option-1.0.0.jar
/run/libraries/org/eclipse/sisu/org.eclipse.sisu.inject/0.9.0.M2/org.eclipse.sisu.inject-0.9.0.M2.jar
/run/libraries/com/github/oshi/oshi-core/6.6.5/oshi-core-6.6.5.jar
/run/world/datapacks/bukkit/pack.mcmeta
/run/versions/1.21.4/paper-1.21.4.jar
/run/libraries/io/papermc/paper/paper-api/1.21.4-R0.1-SNAPSHOT/paper-api-1.21.4-R0.1-SNAPSHOT.jar
/run/config/paper-global.yml
/run/world/paper-world.yml
/run/world_nether/paper-world.yml
/run/world_the_end/paper-world.yml
/run/config/paper-world-defaults.yml
/run/permissions.yml
/run/libraries/org/codehaus/plexus/plexus-interpolation/1.26/plexus-interpolation-1.26.jar
/run/libraries/org/codehaus/plexus/plexus-utils/3.5.1/plexus-utils-3.5.1.jar
/run/libraries/com/google/protobuf/protobuf-java/4.26.1/protobuf-java-4.26.1.jar
/run/world/entities/r.0.0.mca
/run/world/poi/r.0.0.mca
/run/world/region/r.0.0.mca
/run/world_nether/DIM-1/entities/r.0.0.mca
/run/world_nether/DIM-1/region/r.0.0.mca
/run/world_the_end/DIM1/entities/r.0.0.mca
/run/world_the_end/DIM1/region/r.0.0.mca
/run/world/entities/r.0.-1.mca
/run/world/poi/r.0.-1.mca
/run/world/region/r.0.-1.mca
/run/world_nether/DIM-1/region/r.0.-1.mca
/run/world_the_end/DIM1/entities/r.0.-1.mca
/run/world_the_end/DIM1/region/r.0.-1.mca
/run/world/entities/r.-1.0.mca
/run/world/poi/r.-1.0.mca
/run/world/region/r.-1.0.mca
/run/world_nether/DIM-1/region/r.-1.0.mca
/run/world_the_end/DIM1/entities/r.-1.0.mca
/run/world_the_end/DIM1/region/r.-1.0.mca
/run/world/entities/r.-1.-1.mca
/run/world/poi/r.-1.-1.mca
/run/world/region/r.-1.-1.mca
/run/world_nether/DIM-1/entities/r.-1.-1.mca
/run/world_nether/DIM-1/region/r.-1.-1.mca
/run/world_the_end/DIM1/entities/r.-1.-1.mca
/run/world_the_end/DIM1/region/r.-1.-1.mca
/run/world/region/r.-2.0.mca
/run/world/region/r.-2.-1.mca
/run/world/data/raids.dat
/run/world_nether/DIM-1/data/raids.dat
/run/world_the_end/DIM1/data/raids_end.dat
/run/world/data/random_sequences.dat
/run/libraries/io/papermc/reflection-rewriter/0.0.3/reflection-rewriter-0.0.3.jar
/run/libraries/io/papermc/reflection-rewriter-proxy-generator/0.0.3/reflection-rewriter-proxy-generator-0.0.3.jar
/run/libraries/io/papermc/reflection-rewriter-runtime/0.0.3/reflection-rewriter-runtime-0.0.3.jar
/run/world/data/scoreboard.dat
/run/server.properties
/run/libraries/org/slf4j/slf4j-api/2.0.16/slf4j-api-2.0.16.jar
/run/libraries/org/yaml/snakeyaml/2.2/snakeyaml-2.2.jar
/run/plugins/spark/tmp-client/spark-48853ce013a-libasyncProfiler.so.tmp
/run/plugins/spark/tmp-client/spark-49653ecf965-profile-data.jfr.tmp
/run/libraries/me/lucko/spark-api/0.1-20240720.200737-2/spark-api-0.1-20240720.200737-2.jar
/run/libraries/me/lucko/spark-paper/1.10.119-SNAPSHOT/spark-paper-1.10.119-SNAPSHOT.jar
/run/libraries/net/neoforged/javadoctor/spec/2.0.17/spec-2.0.17.jar
/run/spigot.yml
/run/libraries/org/xerial/sqlite-jdbc/3.47.0.0/sqlite-jdbc-3.47.0.0.jar
/run/libraries/net/neoforged/srgutils/1.0.9/srgutils-1.0.9.jar
/run/libraries/net/minecrell/terminalconsoleappender/1.3.0/terminalconsoleappender-1.3.0.jar
/run/world/uid.dat
/run/world_nether/uid.dat
/run/world_the_end/uid.dat
/run/usercache.json
/run/libraries/com/velocitypowered/velocity-native/3.3.0-SNAPSHOT/velocity-native-3.3.0-SNAPSHOT.jar
/run/version_history.json
/run/whitelist.json
